<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>
            <table width=500>
                <tr bgcolor="lightgreen" align="center">
                    <td  >Name</td><td>Danny Chan</td>
              </tr>
              <tr align="center"> 
                <td>Photo</td><td><img src="static/peter.jpg" width="100"></td>
            </tr>
            <tr align="center" bgcolor='yellow'>
                <td>Age</td><td>Twelve</td>
            </tr>
            <tr align="center">
                <td>Gender</td><td> Male</td>
                
            </tr>
            </table>
        </center>
       
    </body>
</html>